.DS_Store
.htaccess
includes/vendor/*
!includes/vendor/.gitkeep

# environment-specific config
user/config.php

# frontend tooling
frontend/node_modules
frontend/package-lock.json

# SQL
*.sql
*.sql.gz
*.tar.gz
pvirtualmin/

#IDE
.idea/
