## Used to authenticate to Platform.sh to pull a database.
PLATFORMSH_CLI_TOKEN="<Add token here>"
PLATFORM_PROJECT="<Add project here>"
## Can be changed to develop or main or staging or other environment.
PLATFORM_ENVIRONMENT="staging"
